---
layout : default
---

<div class="row">
    <div class="span9">
        {{{ content }}}
    </div>
    <div class="span3">
        <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header">Site</li>
                <li><a href="/archive">Archives</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header">
                    Categories
                </li>
                {{# categories }}
                {{> categories_list }}
                {{/ categories }}
            </ul>
        </div>
        <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header">
                    Links
                </li>
                <li><a href="http://www.cnblogs.com/mahang/" target="_blank">mac的学习笔记</a></li>
            </ul>
        </div>
        <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1876499121&verifier=49ff9b08&dpc=1"></iframe>
        </div>
    </div>
</div>
